# Секретные ключи и настройки
.env
.env.local
settings/local.py

# Файлы Python
__pycache__/
*.py[cod]
*.so
.Python
.env.*
.venv
venv/

# Логи
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
