{% extends 'base.html' %}

{% block content %}
<div class="single-product-area section-padding-100 clearfix">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Изменение пароля</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}

                        {% if form.errors %}
                            <div class="alert alert-danger">
                                {% for field, errors in form.errors.items %}
                                    {% for error in errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="col-12 mb-3">
                            <label class="form-label">Старый пароль</label>
                            <input type="password" name="old_password" class="form-control" autocomplete="current-password"
                                   autofocus="" required="" id="id_old_password" placeholder="Введите старый пароль">
<!--                            {{ form.old_password }}-->
                        </div>

                        <div class="col-12 mb-3">
                            <label class="form-label">Новый пароль</label>
<!--                            {{ form.new_password1 }}-->
                            <input type="password" name="new_password1" class="form-control" autocomplete="new-password"
                                   required="" aria-describedby="id_new_password1_helptext" id="id_new_password1"
                                   placeholder="Введите новый пароль">
<!--                            <div class="form-text">-->
<!--                                {{ form.new_password1.help_text }}-->
<!--                            </div>-->
                        </div>

                        <div class="col-12 mb-3">
                            <label class="form-label">Подтверждение нового пароля</label>
                            <input type="password" name="new_password2" class="form-control" autocomplete="new-password"
                                   required="" aria-describedby="id_new_password2_helptext" id="id_new_password2"
                                   placeholder="Введите новый пароль еще раз">
<!--                            {{ form.new_password2 }}-->
                        </div>

                        <div class="d-flex justify-content-between">
                            <a href="{% url 'profile' %}" class="btn btn-secondary">Отмена</a>
                            <button type="submit" class="btn btn-primary">Изменить пароль</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}