{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>{% if title %}{{ title }}{% else %}оптово-розничный интернет-магазин{% endif %}</title>

    <!-- Favicon  -->
    <link rel="icon" href="{% static 'img/core-img/new_icon.ico' %}">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="{% static 'css/core-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"-->
<!--            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"-->
<!--            crossorigin="anonymous"></script>-->

</head>

<body>
    <!-- Search Wrapper Area Start -->
    <div class="search-wrapper section-padding-100">
        <div class="search-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search-content">
                        <form role="search" action="{% url 'search_result' %}" method="get">
                            <input type="text" required aria-invalid="true" name="query" aria-describedby="id_query_error"
                                   id="id_query" placeholder="Введите запрос..." aria-label="Поиск">
                            <button type="submit"><img src="{% static 'img/core-img/search.png' %}"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Wrapper Area End -->

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->
        <div class="mobile-nav">
            <!-- Navbar Brand -->
            <div class="amado-navbar-brand">
                <a href="{% url 'index' %}"><img src="{% static 'img/core-img/new_logo.png' %}" alt=""></a>
            </div>
            <!-- Navbar Toggler -->
            <div class="amado-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>

        <!-- Header Area Start -->
        <header class="header-area clearfix">
            <!-- Close Icon -->
            <div class="nav-close">
                <i class="fa fa-close" aria-hidden="true"></i>
            </div>
            <!-- Logo -->
            <div class="logo">
                <a href="{% url 'index' %}"><img src="{% static 'img/core-img/new_logo.png' %}" alt=""></a>
            </div>
            <!-- Amado Nav -->
            <nav class="amado-nav">
                <ul>
                    <li {% if index %}class="active"{% endif %}><a href="{% url 'index' %}">Главная</a></li>
                    <li {% if shop %}class="active"{% endif %}><a href="{% url 'product_list' %}">Магазин</a></li>
<!--                    <li {% if cart %class="active"{% endif %><a href="{% url 'cart' %">Cart</a></li>-->
<!--                    <li {% if checkout %class="active"{% endif %><a href="{% url 'checkout' %">Checkout</a></li>-->
                    {% if not user.is_authenticated %}
                    <li {% if login %}class="active"{% endif %}><a href="{% url 'login' %}">Войти</a></li>
                    <li {% if register %}class="active"{% endif %}><a href="{% url 'register' %}">Регистрация</a></li>
                    {% else %}
                    <li {% if profile %}class="active"{% endif %}><a href="{% url 'profile' %}">Аккаунт</a></li>
                    {% endif %}
                    {% if user.is_superuser %}
                    <li><a href="{% url 'admin:index' %}">Админ</a></li>
                    {% endif %}
                </ul>
            </nav>

            <!-- Button Group -->
<!--            <div class="amado-btn-group mt-30 mb-100">-->
<!--                <a href="#" class="btn amado-btn mb-15">%Discount%</a>-->
<!--                <a href="#" class="btn amado-btn active">New this week</a>-->
<!--            </div>-->
            <br>

            <!-- Cart Menu -->
            <div class="cart-fav-search mb-100">
<!--                <a href="cart.html" class="cart-nav"><img src="{% static 'img/core-img/cart.png' %}" alt=""> Cart <span>(0)</span></a>-->
<!--                <a href="#" class="fav-nav"><img src="{% static 'img/core-img/favorites.png' %}" alt=""> Favourite</a>-->
                <a href="#" class="search-nav"><img src="{% static 'img/core-img/search.png' %}" alt=""> Поиск</a>
            </div>
            <!-- Social Button -->
            <div class="social-info d-flex justify-content-between">
                <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
            </div>
        </header>
        <!-- Header Area End -->

        {% block content %}
        {% endblock %}
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

    <!-- ##### Newsletter Area Start ##### -->
    <section class="newsletter-area section-padding-100-0">
        <div class="container">
            <div class="row align-items-center">
                <!-- Newsletter Text -->
                <div class="col-12 col-lg-6 col-xl-7">
                    <div class="newsletter-text mb-100">
                        <h2>Подпишитесь на нашу рассылку, <span>и получите скидку!</span></h2>
                    </div>
                </div>
                <!-- Newsletter Form -->
                <div class="col-12 col-lg-6 col-xl-5">
                    <div class="newsletter-form mb-100">
                        <form method="post" action="{% url 'email' %}">
                            {% csrf_token %}
                            <input type="email" name="email" class="nl-email" placeholder="Ваш адрес электронной почты" maxlength="320" required id="id_email">
                            <input type="submit" value="Подписаться">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- ##### Newsletter Area End ##### -->


    <!-- ##### Footer Area Start ##### -->
    <footer class="footer_area clearfix">
        <div class="container">
            <div class="row align-items-center">
                <!-- Single Widget Area -->
                <div class="col-12 col-lg-4">
                    <div class="single_widget_area">
                        <!-- Logo -->
                        <div class="footer-logo mr-50">
                            <a href="{% url 'index' %}"><img src="{% static 'img/core-img/new_logo2.png' %}" alt=""></a>
                        </div>
                        <!-- Copywrite Text -->
                        <p class="copywrite"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;2025 All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-lg-8">
                    <div class="single_widget_area">
                        <!-- Footer Menu -->
                        <div class="footer_menu">
                            <nav class="navbar navbar-expand-lg justify-content-end">
                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                        data-target="#footerNavContent" aria-controls="footerNavContent"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <div class="collapse navbar-collapse" id="footerNavContent">
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item {% if index %}active{% endif %}">
                                            <a class="nav-link" href="{% url 'index' %}">Главная</a>
                                        </li>
                                        <li class="nav-item {% if shop %}active{% endif %}">
                                            <a class="nav-link" href="{% url 'product_list' %}">Магазин</a>
                                        </li>
<!--                                        <li class="nav-item {% if cart %active{% endif %">-->
<!--                                            <a class="nav-link" href="{% url 'cart' %">Cart</a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item {% if checkout %active{% endif %">-->
<!--                                            <a class="nav-link" href="{% url 'checkout' %">Checkout</a>-->
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->




    <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Plugins js -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>
</body>
</html>